body {
    background-color: rgb(252, 252, 252);
    margin: 20px 100px;
    font-family: 'Josefin Sans', sans-serif;
}
/*Header*/
.name {
    text-align: center;
}

.navbar {
    border-bottom: 1px solid black;
}

.icon {
    color: rgb(52, 54, 52) ;
    padding: 5px 0;    
}
.icon:hover {
    color: rgb(14, 43, 207);
    transform: scale(1.2);
    transition: transform .2s;
}
.nav-item:hover {
    color: rgb(14, 43, 207);
    transform: scale(1.2);
    transition: transform .2s;
}


/*About*/
p {
    margin-bottom: 50px;
}
.about{
    text-align: justify;
    font-size: 22px;
    line-height: 35px;
}
.flag {
    width: 20px;
    margin-bottom: -3px;
}
.flag:hover {
    width: 22px;
}
.description {
    padding: 10px;
}

/*Projects*/
.card {
    width: 16rem;
    margin: 0.4rem 0.8rem;
    background-color: rgb(247, 249, 253);
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}



/*Contact*/
.contact-details {
    line-height: 10px;
}
/*Footer*/
footer {
    background-color:rgb(247, 249, 253);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    bottom: 0;
    padding: 10px;
    display: flex;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}
.footer-element {
    padding: 0 20px;
}

/*Small*/
@media only screen and (max-width: 640px) {
    body {margin: 10px 40px;}
    header {font-size: 25px;}
}

/* Medium */
@media only screen and (min-width: 641px) {
    body {margin: 10px 45px;}
    header {font-size: 30px;}
    
}

/* Large */

@media only screen and (min-width: 1008px) {
    body {margin: 20px 90px;}
    header {font-size: 30px;}
   
}