body {
    background-color: rgb(252, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

header {
    background: url("./Icons/header.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    position: relative;
    text-align: center;
    border-bottom: 1px solid black;
    color: rgb(36, 201, 21);
    font-size: 20px;
    padding: 10px 0;
}
.social-links {
    display: inline; 
}
.social-media {
    margin: 50px;
}
.fab {
    color: black ;
    transition: transform .2s;
    padding: 20px 0;
}
.fab:hover {
    color: darkgray;
    transform: scale(1.3);
}
ul {
    list-style: none;
}
li>a:hover {
    text-shadow: 1px 1px 2px black;
}
a {
    margin: 0 5px;
    text-decoration: none;
}

.about {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}
.flag {
    width: 20px;
    margin-bottom: -3px;
}
.description {
    padding: 10px;
}
footer {
    width: 100%;
    position: fixed;
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    bottom: 0;
    padding: 10px;
    display: flex;
}