body {
    background-color: rgb(73, 72, 72);
    margin: 20px 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(243, 237, 237);
}

/*Header*/
.name {
    text-align: center;
}

.navbar {
    border-bottom: 1px solid black;
}

.icon {
    color: rgb(243, 237, 237);
    padding: 5px 0;
}

.icon:hover {
    color: rgb(73, 99, 250);
    transform: scale(1.2);
    transition: transform .2s;
}

.nav-item:hover {
    color: rgb(14, 43, 207);
    transform: scale(1.2);
    transition: transform .2s;
}


/*About*/
p {
    margin-bottom: 50px;
}

.about {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 3rem;
}

.flag {
    width: 20px;
    margin-bottom: -3px;
}

.flag:hover {
    width: 22px;
}

.description {
    padding: 10px;
}

/*Projects*/
.card {
    width: 16rem;
    margin: 0.4rem 0.8rem;

}



/*Contact*/
.contact-details {
    line-height: 10px;
}

/*Footer*/
footer {
    background-color: rgb(247, 249, 253);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    bottom: 0;
    padding: 10px;
    display: flex;
    border-radius: 5px;
}

.footer-element {
    padding: 0 20px;
}

/*Small*/
@media only screen and (max-width: 640px) {
    body {
        margin: 10px 40px;
    }

    header {
        font-size: 25px;
    }
}

/* Medium */
@media only screen and (min-width: 641px) {
    body {
        margin: 10px 45px;
    }

    header {
        font-size: 30px;
    }

}

/* Large */

@media only screen and (min-width: 1008px) {
    body {
        margin: 20px 90px;
    }

    header {
        font-size: 30px;
    }

}